
body { 
    text-align:center;
    text-shadow: 0cqw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background: rgb(13, 13, 13);
    color: rgb(171, 205, 226);
}
#M42_1 {
  float:left;
  margin-top: 10px;
  margin-left: 10px;
}
#Disks {
  float:Right;
  margin-top: 10px;
  margin-left: 10px;
}
#rectangle {
  z-index: 1;
  position: relative; 
    background: linear-gradient(45deg, rgb(30, 136, 229), rgb(24, 99, 164));
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  align-items: left;
  box-shadow: 0 0 15px rgb(63, 137, 201);
  height: 8vh;
  width: 95vw;
}
#gradient-box {
  width: 95vw;
  height: 2.5vh;
  background: linear-gradient(45deg, rgb(176, 190, 187), rgb(125, 135, 133));
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  align-items: left;
  box-shadow: 0 0 15px rgb(200, 232, 225);
#Head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  margin: 0;
  color: black; 
  z-index: 2;
}
