/* Setup */
body { 
    text-align: left;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.orbitron-Font {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: 20px;
  font-size: 1px;
}
/* Images */
#m42 {
  float:left;
  margin-top: 100px;
  margin-left: 75px;
}
#disks {
  position: absolute;
  margin-top: 505px;
  margin-left: 82.5px;
  left: 0px;
}
/* Objects*/
#topbar {
  position: fixed; 
  top: 60px;
  z-index: 1000;
  width: auto;
  height: 1px;
  border-radius: 1.5px;
  background: rgb(255, 255, 255);
  left: 20px;
  right: 20px;
}
#bar2 {
  position: absolute; 
  top: 490px;
  z-index: 1000;
  width: auto;
  height: 1px;
  border-radius: 1.5px;
  background: rgb(255, 255, 255);
  left: 20px;
  right: 20px;
}
#backblocker {
  position: fixed; 
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 59px;
  background: rgba(0, 0, 0, 0.938);
  left: 0px;
}
#vertical-box {
  top: 60px;
  left: 500px;
  width: 1px;
  height: 100%;
  border-radius: 1.5px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: left;
  position: fixed;
  margin: 10px;
}
/* Text */
#head1 {
  font-family: 'Orbitron', sans-serif;
  position: fixed;
  top: 5px;
  margin-left: 17px;
}
#text1 {
  font-family: 'Orbitron', sans-serif;
  position: relative;
  margin-left: 575px;
  margin-right: 50px;
  width: fit-content;
}
#text2 {
   font-family: 'Orbitron', sans-serif;
  position: relative;
  margin-top: 320px;
  margin-left: 555px;
  margin-right: 50px;
}
#coolguy{
   font-family: 'Orbitron', sans-serif;
  position: relative;
  margin-top: 20px;
  margin-left: 555px;
  margin-right: 50px;
}
#reference{
   font-family: 'Orbitron', sans-serif;
  position: relative;
  margin-top: 30px;
  margin-left: 555px;
  margin-right: 50px;
}
